.FactsAboutme{
    padding: 12vh 0;
    background-color: rgba(6, 16, 26, 1);
    display: flex;
   
}
.FactsAboutme .flex-box{
gap:8rem;
}
.FactsAboutme .flex-box .contentLeft{
   max-width: 400px;
}
.FactsAboutme .flex-box .contentLeft h2{
    margin-bottom: 1rem;
}
.FactsAboutme .flex-box .contentRight{
display: flex;
gap: 3rem;
}
.FactsAboutme .flex-box .contentRight img{
    width: 25px;
    margin-right: .5rem;
}
@media screen and (max-width:1024px) {
    .FactsAboutme .flex-box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
gap: 3rem;
        } 
   
}
@media screen and (max-width:640px) {
    .FactsAboutme .flex-box{
        flex-direction: column;
        gap:2rem;
        } 
        .FactsAboutme .flex-box .contentLeft{
            width: 100%;
            text-align: center;
        }
        .FactsAboutme .flex-box .contentRight{
            flex-direction: column;
            align-items: center;
        }
}