.header{
position: relative;
overflow: hidden;
}
.navbar .nav{
    display: flex;
    justify-content: space-between;
    
    }
    .navbar .nav .logo h1{
      
        font-size: 3rem;
        font-weight: 900;
    }
    .navbar .nav .nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    
    }
    .navbar .nav .nav-menu li a{
        text-decoration: none;
        color: #fff;
    }
    .navbar .nav .nav-menu li a:hover{
        color:#00bcd4;
        text-decoration:line-through;
    }
    .hamburger{
        display: none;
    }
  
    
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.header .content{
margin-top: 20vh;
}

.header .content img{
max-width: 350px;

}
.header .content h1{
    font-size: 3rem;
    margin: 2rem 0;
}
.header .content ol{
    padding-left: 1rem;
    margin-bottom: 3rem;
}
.buttons{
 
}
.btn-light{
    margin-left: 2rem;
}

@media screen and (max-width:1190px){
   .container{
    padding: 0 5rem;
   }
   .content{
    gap: 5rem;
   }
 
        .nav-menu{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100vh;
            background-color:rgba(250, 241, 241, 0.8) ;
            position: absolute;
            top: 0%;
            right: -100%;
            transition: 0.5s;
        }
        .nav-menu.active{
           right:-10%;
            background-color: rgb(6,16,26 );
            opacity: .8;
        }
        .hamburger{
            display: block;
            margin-top: 1rem;
            z-index: 1;
        } 
    }
    @media screen and (max-width:900px) {
.content{
    flex-direction: column;
    margin-inline: auto;
}
    }
   @media screen and (max-width:640px) {
    .header .content h1{
        font-size: 3rem;
        margin: 2rem 0;
    }
    .header .content ol{
        padding-left: 1rem;
        margin-bottom: 3rem;
    }
    
    .header .content{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap:5rem
    }
        .header .content .left{
            
            align-items: center;
            justify-content: center;
           
            gap:5rem
        }
       
   }
   @media screen and (max-width:484px){
    .header .content .left h1{
        font-size: 2.5rem;
    }
   .buttons .btn{
width: 7rem;
   }
   .buttons .btn-light{
    width: 7rem;
   }
   }
