.blogs{
    padding: 15vh 0;
    background-color:#06101a ;
}
.blogs .head{
text-align: center;
padding: 0 12rem ;
}
.blogs .head h2{
    margin: .3rem 0 1rem 0;
}
.blogs .grid-box{
    margin-top: 5rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.blogs img{
    width: 100%;
}
.blogs .text {
  
    padding: 1rem;
}
.blogs .text p{
  
    margin: 1rem 0;
}
.blogs .text {
  
    padding: 1rem;
}
.blogs .column{
    box-shadow: 0 0 10px 4px black;
}