.whatwedo{
   padding: 12vh 0;
}
.whatwedo .topContent{
    text-align: center;
   max-width: 600px;
   margin-inline: auto;
}
.whatwedo .topContent h2{
    margin: .5rem 0;
}
.whatwedo .topContent p{
               margin: 1.5rem 0;
}
.bottomContent{
    margin-top: 10vh;
}
.bottomContent .flex-box{
gap: 3rem;
}
.bottomContent .column{
text-align: center;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 1rem;
}
.circle{
    background-color: #00bcd4;
    border-radius: 50%;
    width:6rem ;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.viewservice{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
@media screen and (max-width:640px){
    .whatwedo .topContent{
        text-align: center;
        padding: 0 1rem;
    }
    .bottomContent .flex-box{
        flex-direction: column;
        gap: 3rem;
        }
}