@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --color-ltblue: #00bcd4;
}
html{
  scroll-behavior: smooth;
}
span{
  color:var(--color-ltblue)
}
body{
 font-family: 'Mulish', sans-serif;
  background-color: antiquewhite;
  color: #fff;
  background-color: #050d16;
}
.flex-box{
  display: flex;
}
.grid-box{
  display: grid;
}
.container{
max-width: 1171px;
margin-inline: auto;

}
.btn{
  width:9rem ;
  height:2.5rem ;
  color: #fff;
  background-color: #00bcd4;

}
.btn-light{
  width:9rem ;
  height:2.3rem ;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
   margin-left: 1.5rem;
}
p{
  color: rgb(212, 212, 212);
}